html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: avenir;
  font-size: 16px; }

.vHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
  overflow: hidden; }
.vTitle {
  position: relative;
  margin: 0;
  padding: 0.3em 4.4em;
  color: #fff;
  background-color: #005B99;
  font-size: 1rem; }
  .vTitle:after {
    content: '';
    position: absolute;
    left: 1.45em;
    width: 1.45em;
    top: 0;
    bottom: 0;
    background-color: #ffcc00; }
.vFilter {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 2vw;
  line-height: 0; }
  .vFilterInput {
    -webkit-appearance: none;
    float: left;
    display: block;
    width: 47%;
    padding: 1px 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 2em;
    outline: none;
    -webkit-transition: all 500ms;
    transition: all 500ms; }
    .vFilterInput:focus {
      border-color: #ffcc00; }
    .vFilterInputActive {
      border-color: #ffcc00;
      background: #ffcc00; }
    .vFilterInputClear {
      position: absolute;
      right: 55%;
      top: 50%;
      z-index: 1;
      width: 1.2em;
      height: 1.2em;
      margin-top: -0.6em;
      line-height: 1.2;
      text-align: center;
      color: #fff;
      background-color: #997a00;
      border-radius: 100%;
      cursor: pointer;
      opacity: 1;
      -webkit-transition: all 500ms;
      transition: all 500ms;
      -webkit-transition-delay: 300ms;
      transition-delay: 300ms; }
      .vFilterInputClear.ng-leave, .vFilterInputClear.ng-move.ng-move-active, .vFilterInputClear.ng-enter.ng-enter-active {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
      .vFilterInputClear.ng-leave.ng-leave-active, .vFilterInputClear.ng-move, .vFilterInputClear.ng-enter {
        opacity: 0;
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg); }
    .vFilterInput::-webkit-search-cancel-button {
      display: none !important; }
    .vFilterInput::-ms-clear {
      display: none !important; }
  .vFilterFocusTarget {
    width: 0;
    height: 0;
    overflow: hidden; }
  .vFilterGroup {
    display: inline-block;
    width: 50%;
    margin-left: 3%;
    overflow: hidden; }
    .vFilterGroupOption {
      -webkit-appearance: none;
      display: block;
      float: left;
      position: relative;
      width: 20%;
      padding: 1px;
      color: #fff;
      background-color: #999;
      border: none;
      font-size: 0.75rem;
      line-height: 2.9em;
      opacity: 0.3;
      outline: none;
      cursor: pointer;
      -webkit-transition: opacity 300ms;
      transition: opacity 300ms; }
      .vFilterGroupOption:before {
        content: 'x';
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
        -webkit-transition: all 500ms;
        transition: all 500ms; }
      .vFilterGroupOption:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .vFilterGroupOption:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .vFilterGroupOption1 {
        background-color: #67009A; }
      .vFilterGroupOption2a {
        background-color: #F22F1D; }
      .vFilterGroupOption2b {
        background-color: #F26E22; }
      .vFilterGroupOption3 {
        background-color: #92BF11; }
      .vFilterGroupOption4 {
        background-color: #1EA5D8; }
      .vFilterGroupOption span {
        display: block;
        opacity: 1;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: all 300ms;
        transition: all 300ms; }
      .vFilterGroupOptionActive {
        opacity: 1; }
        .vFilterGroupOptionActive:before {
          color: #fff;
          opacity: 1;
          -webkit-transform: rotate(0);
          transform: rotate(0); }
        .vFilterGroupOptionActive span {
          opacity: 0;
          -webkit-transform: rotate(720deg);
          transform: rotate(720deg); }
.vList {
  position: relative;
  width: 96vw;
  max-width: 980px;
  margin: 100px auto 0;
  border-top: 1px solid #eee;
  overflow: hidden; }
  .vListHeader {
    width: 96vw;
    max-width: 980px;
    margin: 0 auto;
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden; }
    .vListHeader > span {
      border-bottom: 3px solid #666 !important;
      z-index: 3; }
.vRow {
  position: relative;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  .vRow.ng-leave, .vRow.ng-move.ng-move-active, .vRow.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .vRow.ng-leave.ng-leave-active, .vRow.ng-move, .vRow.ng-enter {
    opacity: 0;
    -webkit-transform: translateY(-3em);
    transform: translateY(-3em); }
.vCol {
  display: inline-block;
  width: 25%;
  min-width: 5rem;
  margin: 0 -0.285em 0 0;
  padding: 0.5em 0.3rem;
  overflow: hidden;
  background-color: #fff;
  line-height: 2; }
  .vRow:nth-child(odd) .vCol {
    background-color: #f6f6f6; }
  .vColWrap {
    position: relative;
    z-index: 2;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .vColWrap:before {
      content: attr(data-verbGroup);
      position: absolute;
      left: 2px;
      top: 53%;
      z-index: 1;
      width: 0.5em;
      margin-top: -0.5em;
      color: #fff !important;
      font-size: 0.5em;
      line-height: 1; }
      .vGroup2a .vColWrap:before, .vGroup2b .vColWrap:before {
        margin-top: -1em;
        border-color: #F22F1D;
        color: #F22F1D;
        word-break: break-word;
        white-space: pre-wrap; }
  .vColTrans {
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    width: auto;
    z-index: 1;
    color: #fff;
    background-color: #000 !important;
    font-weight: bold;
    text-transform: uppercase; }
  .vColInfinitiv {
    position: relative;
    font-weight: 600;
    border-left: 10px solid #999; }
    .vGroup1 .vColInfinitiv {
      border-color: #67009A; }
    .vGroup2a .vColInfinitiv {
      border-color: #F22F1D; }
    .vGroup2b .vColInfinitiv {
      border-color: #F26E22; }
    .vGroup3 .vColInfinitiv {
      border-color: #92BF11; }
    .vGroup4 .vColInfinitiv {
      border-color: #1EA5D8; }

/*# sourceMappingURL=main.css.map */
