    <!doctype html>
<!--[if lt IE 9 ]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]> ><! <![endif]-->
<html class="no-js" lang='en'>
<!-- <![endif] -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SfI v Revision</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#005B99">

    <link rel="stylesheet" href="css/main.css" />

</head>
<body ng-app="verbsApp">

    

<div class="vContainer" ng-controller="VerbsListController" ng-click="backgroundClick()">

    <article class="vHeader fixedsticky">
        <div class="vTitle"></div>
        <div class="vFilter">
            <form class="vFilterForm" ng-submit="searchSubmit()">
                <div class="vFilterInputIcon icon icon-zoom" ng-click="searchFocus()" ng-class="{vFilterInputIconActive : search.length}"></div>
                <input type="search" class="vFilterInput js-vFilterInput" ng-model="search" placeholder="sök" ng-class="{vFilterInputActive : search.length}" />
                <div class="vFilterInputClear ng-cloak icon icon-cross" ng-if="search.length" ng-click="searchClear()"></div>
            </form>
            <a href="javascript:void(0)" class="vFilterFocusTarget js-vFilterFocusTarget"></a>
            <div class="vFilterGroup">
                <button class="vFilterGroupOption vFilterGroupOption1"  ng-class="{vFilterGroupOptionActive : filterCurrentGroup === '1'}"  ng-click="filterGroup('1')" ><span>1</span></button>
                <button class="vFilterGroupOption vFilterGroupOption2a" ng-class="{vFilterGroupOptionActive : filterCurrentGroup === '2a'}" ng-click="filterGroup('2a')"><span>2a</span></button>
                <button class="vFilterGroupOption vFilterGroupOption2b" ng-class="{vFilterGroupOptionActive : filterCurrentGroup === '2b'}" ng-click="filterGroup('2b')"><span>2b</span></button>
                <button class="vFilterGroupOption vFilterGroupOption3"  ng-class="{vFilterGroupOptionActive : filterCurrentGroup === '3'}"  ng-click="filterGroup('3')" ><span>3</span></button>
                <button class="vFilterGroupOption vFilterGroupOption4"  ng-class="{vFilterGroupOptionActive : filterCurrentGroup === '4'}"  ng-click="filterGroup('4')" ><span>4</span></button>
            </div>
        </div>
        <div class="vListHeader">
            <span class="vCol">infinitiv  </span>
            <span class="vCol">presens    </span>
            <span class="vCol">preteritum </span>
            <span class="vCol">perfekt    </span>
        </div>
    </article>

    <div class="vList">

        <div class="spinner ng-cloak" ng-if="isLoading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

        <article class="vRow" ng-class="{vGroup{{::verb.group}} : true}" ng-repeat="verb in verbsFiltered = ( verbs | filter : search | filter : filterGroupFilter | orderBy : 'infinitiv' )" ng-click="detailOpen($index)" stop-event='click'>
            <span class="vCol vColTrans" ng-bind="::verb.en" data-verbForm="english"></span>
            <div class="vColWrap ng-cloak" data-verbGroup="{{::verb.group}}" ng-if="!isLoading" hm-panright="panRight" hm-panright="panLeft" hm-panend="panEnd" hm-manager-options='{"threshold":20}' hm-recognizer-options='[{"type":"panright","enabled": true},{"type":"panleft","enabled": false}]'>
                <span class="vCol vColInfinitiv" ng-bind="::verb.infinitiv">    </span>
                <span class="vCol" ng-bind="::verb.presens">                    </span>
                <span class="vCol" ng-bind="::verb.preteritum">                 </span>
                <span class="vCol" ng-bind="::verb.perfekt">                    </span>
            </div>
        </article>

        <div class="vListEmpty ng-cloak" ng-if="verbsFiltered.length < 1 && !isLoading">
            <span class="icon icon-warning"></span> 
            <div>Hittade ingenting!</div>
            <button class="vListEmptyButton" ng-click="filterClear()">
                <span class="icon icon-cross"></span>
                Rensa
            </button>
        </div>


    </div>

    <div class="vDetailBed ng-cloak" ng-if="detailIsOpen">
    </div>
    <h1 class="vDetailTitle ng-cloak" ng-if="detailIsOpen" stop-event='click'>
        <span class="vDetailInfinitiv" ng-bind="detailData.infinitiv"></span>
        (<abbrev class="vDetailTranslation" ng-bind="detailData.en"></abbrev>)
    </h1>
    <span class="vDetailModalClose icon icon-cross ng-cloak" ng-if="detailIsOpen" ng-click="detailClose()"></span>
    <div class="vDetailModal ng-cloak" ng-if="detailIsOpen" stop-event='click'>


        <div class="vDetailBody">

            <section class="vDetailFokus">
                <h3 class="vDetailFokusTitle">Nu Fokus</h3>
                <dl class="vDetailFokusSub">
                    <dt class="vDetailFokusSubTitle"><span class="icon icon-arrow-back"></span> Perfekt</dt>
                    <dd class="vDetailFokusSubExample">Jag har <strong class="vDetailFokusLabel" ng-bind="detailData.perfekt"></strong> på min läxa</dd>
                </dl>
                <dl class="vDetailFokusSub">
                    <dt class="vDetailFokusSubTitle"><span class="icon icon-arrow-here"></span> Presens</dt>
                    <dd class="vDetailFokusSubExample">Jag <strong class="vDetailFokusLabel" ng-bind="detailData.presens"></strong> på min läxa</dd>
                </dl>
                <dl class="vDetailFokusSub">
                    <dt class="vDetailFokusSubTitle"><span class="icon icon-arrow-forward"></span> Futurum 1</dt>
                    <dd class="vDetailFokusSubExample">Jag ska <strong class="vDetailFokusLabel" ng-bind="detailData.infinitiv"></strong> på min läxa</dd>
                </dl>
            </section>

            <section class="vDetailFokus">
                <h3 class="vDetailFokusTitle">Då Fokus</h3>
                <dl class="vDetailFokusSub">
                    <dt class="vDetailFokusSubTitle"><span class="icon icon-arrow-back"></span> Plukamperfekt</dt>
                    <dd class="vDetailFokusSubExample">Jag hade <strong class="vDetailFokusLabel" ng-bind="detailData.perfekt"></strong> på min läxa</dd>
                </dl>
                <dl class="vDetailFokusSub">
                    <dt class="vDetailFokusSubTitle"><span class="icon icon-arrow-here"></span> Preteritum</dt>
                    <dd class="vDetailFokusSubExample">Jag <strong class="vDetailFokusLabel" ng-bind="detailData.preteritum"></strong> på min läxa</dd>
                </dl>
                <dl class="vDetailFokusSub">
                    <dt class="vDetailFokusSubTitle"><span class="icon icon-arrow-forward"></span> Futurum 2</dt>
                    <dd class="vDetailFokusSubExample">Jag skulle <strong class="vDetailFokusLabel" ng-bind="detailData.infinitiv"></strong> på min läxa</dd>
                </dl>
            </section>

        </div>

    </div>

</div>

<div class="vFooter">
    <strong>SfI Svenska verb verktyg 2015</strong>
    <br />
    Free to use and fork for non-commercial use. Code on <a href="https://github.com/pixelthing/svenska-sfi-verb">GitHub</a>. Made by <a href="http://craigmorey.co.uk">Craig Morey</a>. I can't promise any support or updates, but let me know if I can help, or if there's something wrong.
</div>



        <script src="js/main.js"></script>
    
    <script src="http://localhost:35729/livereload.js"></script>

</body>
</html>