@mixin transition($transition...) {
  -webkit-transition: $transition;
          transition: $transition;
}
@mixin transition-delay($delay...) {
  -webkit-transition: $delay;
          transition: $delay;
}
@mixin transform($transform...) {
  -webkit-transform: $transform;
          transform: $transform;
}