header, nav, footer {
   overflow:visible;
}

.body {
    width: auto;
    border: 0;
    margin: 0 5%;
    padding: 0;
    float: none !important;
}
a, a:link, a:visited {

    &[href]:after {
        content: " (" attr(href) ") ";
        font-size: 90%;
    }

    &[href^="javascript:"],
    &[href^="#"] {
        &:after {
            content: "";
        }
    }
}

abbr[title]:after {
    content: " (" attr(title) ")";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

.v{
  &Header {
    position: relative;
  }
  &Filter {
    display: none;
    border-bottom: 2px solid #000;
  }
  &List {
    clear: both;
    width: auto;
    padding: 0;
    &Header {
      width: auto;
    }
  }
  &Footer {
    display: none;
  }
}