html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: avenir;
    font-size: 16px;
    background: $color-footer-back;
}
.ng-cloak {
    display: none;
}