$color-flag-blue:  #005B99;
$color-flag-yellow:#ffcc00;

$color-group1:     #67009A;
$color-group2a:    #F22F1D;
$color-group2b:    #F26E22;
$color-group3:     #92BF11;
$color-group4:     #1EA5D8;

$color-footer-fore:#D6D5E8;
$color-footer-back:#818593;

$border-radius:    4px;