.v {
    &Container {
        background-color: #fff;
    }
    &Inner {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 300ms;
        .vContainer--active & {
            transform: translate3d(-100%,0,0);
        }
    }
    &Header {
        display: flex;
        flex-direction: column;
        order: 99;
        color: #fff;
        background: #000;
        @include respond-to(xs-min) {
            font-size: 20px;
        }
        @include respond-to(md-min) {
            font-size: 24px;
        }
        &Cells {
            order: -1;
            color: #666;
            background-color: #eee;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0;
            white-space: nowrap;
            overflow: hidden;
            &>span {
                z-index: 3;
                padding-top: 0;
                padding-bottom: 0;
                font-size: 0.7rem;
            }
        }
    }
    &Title {
        position: fixed;
        height: 0.5em;
        left: 0;
        right: 0;
        z-index: 4;
        margin: 0;
        padding: 0;
        color: #fff;
        background-color: $color-flag-blue;
        font-size: 1rem;
        transform: scale3d(1,1,1);
        &:after {
            content: '';
            position: absolute;
            left: 1.45em;
            width: 1.45em;
            top: 0;
            bottom: 0;
            background-color: $color-flag-yellow;
        }
    }
    &Filter {
        padding: 10px 5px;
        font-size: 0;
        &Form {
            float: left;
            display: block;
            position: relative;
            width: 47%;
            font-size: 1rem;
        }
        &Input {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
            display: block;
            width: 100%;
            padding: 1px 0.5em 1px 1.5em;
            border: 1px solid #ddd;
            color: #000;
            border-radius: $border-radius;
            font-family: $font;
            font-size: 1em;
            line-height: 2em;
            outline: none;
            transition: all 500ms;
            transform: scale3d(1,1,1);
            &:focus {
                border-color: $color-flag-yellow;
            }
            .vFilterFormActive & {
                border-color: $color-flag-yellow;
                background: $color-flag-yellow;
                color: #000;
            }
            &Icon {
                position: absolute;
                left: 0.1em;
                top: 50%;
                z-index: 1;
                margin-top: -0.5em;
                color: #ccc;
                font-size: 1.5em;
                transition: all 500ms;
                .vFilterFormActive & {
                    color: darken($color-flag-yellow,20%);
                }
            }
            &Clear {
                -webkit-tap-highlight-color: transparent;
                position: absolute;
                right: 0;
                top: 50%;
                z-index: 1;
                width: 2em;
                height: 2em;
                margin-top: -1em;
                cursor: pointer;
                opacity: 0;
                transform: rotate(0deg);
                transition: all 500ms;
                &Button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 1.2em;
                    height: 1.2em;
                    margin: -0.6em 0 0 -0.6em;
                    line-height: 1.1;
                    text-align: center;
                    color: #fff;
                    background-color: darken($color-flag-yellow,20%);
                    border: 1px solid darken($color-flag-yellow,20%);
                    border-radius: 100%;
                }
                .vFilterFormActive & {
                    opacity: 1;
                    transform: rotate(-720deg);
                }
            }
            &::-webkit-search-cancel-button {
                display: none !important;
            }
            &::-ms-clear {
                display: none !important;
            }
        }
        &FocusTarget {
            width: 0;
            height: 0;
            overflow: hidden;
        }
        &Group {
            display: inline-block;
            width: 50%;
            margin-left: 3%;
            background: #fff;
            border-radius: 4px;
            font-size: 1rem;
            overflow: hidden;
              
            &Option {
                -webkit-tap-highlight-color: transparent;
                -webkit-appearance: none;
                display: block;
                float: left;
                position: relative;
                width: 20%;
                padding: 1px;
                color: #fff;
                background-color: #999;
                border: none;
                font-family: $font;
                font-size: 0.72em;
                line-height: 2.9em;
                opacity: 0.3;
                outline: none;
                cursor: pointer;
                transition: opacity 300ms;
                &:before {
                    content: '\e601';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 1.2em;
                    height: 1.15em;
                    margin: -0.6em 0 0 -0.6em;
                    text-align: center;
                    opacity: 0;
                    font-family: icons;
                    font-size: 1.33em;
                    line-height: 1;
                    border: 1px solid #fff;
                    border-radius: 1em;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    transform: rotate(-720deg);
                    transition: all 500ms;
                }
                &:first-child {
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                }
                &:last-child {
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
                &1 {
                    background-color:  $color-group1;
                }
                &2a {
                    background-color:  $color-group2a;
                }
                &2b {
                    background-color:  $color-group2b;
                }
                &3 {
                    background-color:  $color-group3;
                }
                &4 {
                    background-color:  $color-group4;
                }
                span {
                    display: block;
                    opacity: 1;
                    transform: rotate(0);
                    transition: all 300ms;
                }
                &Active {
                    opacity: 1;
                    &:before {
                        color: #fff;
                        opacity: 1;
                        transform: rotate(0);
                    }
                    span {
                        opacity: 0;
                        transform: rotate(720deg);
                    }
                }
            }
        }
    }
    &List {
        position: relative;
        padding: 0;
        background-color: #fff;
        border-top: 1px solid #eee;
        overflow: auto;
            -webkit-overflow-scrolling: touch;
        @include respond-to(xs-min) {
            padding-top: 5.7em;
        }
        @include respond-to(md-min) {
            padding-top: 6.4em;
        }
        &>div {
                transform: scale3d(1,1,1);
        }
        &Empty {
            opacity: 0;
            max-height: 0;
            width: 15em;
            margin: 0 auto;
            padding: 10px;
            color: $color-group2a;
            border-radius: $border-radius;
            text-align: center; 
            overflow: hidden;
            transition: opacity 500ms;
            transition-delay: 500ms;
            &--active {
                opacity: 1;
                max-height: 200px;
                transition-delay: 200ms;
            }
            &Button {
                -webkit-appearance: none;
                margin: 5px 0 0;
                padding: 1em 2em;
                color: #fff;
                background-color: $color-group3;
                border: none;
                border-radius: $border-radius;
                font-size: 0.8em;
                text-transform: uppercase;
            }
        }
        &Count {
            margin: 1em;
            text-align: center;
            font-weight: bold;
            color: #999;
        }
    }
    &Row {
        position: relative;
        clear: both;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        cursor: pointer;

    }
    &Group {
        &1 {
            .vListContainer--group2a &,
            .vListContainer--group2b &,
            .vListContainer--group3 &,
            .vListContainer--group4 & {
                display: none;
            }
        }
        &2a {
            .vListContainer--group1 &,
            .vListContainer--group2b &,
            .vListContainer--group3 &,
            .vListContainer--group4 & {
                display: none;
            }
        }
        &2b {
            .vListContainer--group1 &,
            .vListContainer--group2a &,
            .vListContainer--group3 &,
            .vListContainer--group4 & {
                display: none;
            }
        }
        &3 {
            .vListContainer--group1 &,
            .vListContainer--group2a &,
            .vListContainer--group2b &,
            .vListContainer--group4 & {
                display: none;
            }
        }
        &4 {
            .vListContainer--group1 &,
            .vListContainer--group2a &,
            .vListContainer--group2b &,
            .vListContainer--group3 & {
                display: none;
            }
        }
    }
    &Col {
        display: inline-block;
        width: 24%;
        margin: 0;
        padding: .3em 0 0.3em.3em;
        overflow: hidden;
        font-size: 1rem;
        line-height: 2;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include respond-to-min(500px) {
            font-size: 1.1rem;
        }
        @include respond-to(lg-min) {
            font-size: 1.3rem;
        }
        &Wrap {
            position: relative;
            z-index: 2;
            //transform: translate3d(0,0,0);
            background: #fff;
            webkit-tap-highlight-color: rgba(0,0,0,0);
            transition: background-color 500ms;
            &:active {
                background-color: #eee;
                transition: background-color 0s;
            }
            &:before {
                content: attr(data-verbGroup);
                position: absolute;
                left: 0.25em;
                top: 53%;
                z-index: 1;
                width: 6px;
                margin-top: -0.5em;
                color: #fff !important;
                font-size: 0.5em;
                line-height: 1;
                text-align: center;
                .vGroup2a &,.vGroup2b & {
                    margin-top: -1em;
                    border-color:  $color-group2a;
                    color:         $color-group2a;
                    word-break: break-word;
                    white-space: pre-wrap;
                }
            }
        }
        &Trans {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: auto;
            z-index: 1;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            .vGroup1 & {
                background-color:  $color-group1;
            }
            .vGroup2a & {
                background-color:  $color-group2a;
            }
            .vGroup2b & {
                background-color:  $color-group2b;
            }
            .vGroup3 & {
                background-color:  $color-group3;
            }
            .vGroup4 & {
                background-color:  $color-group4;
            }
        }
        &Infinitiv {
            position: relative;
            width: 28%;
            border-left: 0.6rem solid #999;
            font-weight: bold;
            text-overflow: initial;
            .vListHeader & {
                border-left: none;
            }
            .vGroup1 & {
                border-color:  $color-group1;
            }
            .vGroup2a & {
                border-color:  $color-group2a;
            }
            .vGroup2b & {
                border-color:  $color-group2b;
            }
            .vGroup3 & {
                border-color:  $color-group3;
            }
            .vGroup4 & {
                border-color:  $color-group4;
            }
        }
    }
    &Detail {
        position: fixed;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow: auto;
        font-size: 18px;
        transform: scale3d(1,1,1);
        transition: transform 300ms;
        @include respond-to(sm-min) {
            font-size: 18px;
        }
        @include respond-to(md-min) {
            font-size: 22px;
        }
        .vContainer--active & {
            transform: translate3d(-100%,0,0);
        }
        &Modal {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            padding-top: 0.5em;
            background: #fff;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            backface-visibility: hidden;
            transition: opacity 300ms;
        }
        &Title {
            position: relative;
            order: 99;
            min-height: 2.5em;
            margin: 0;
            padding: 15px;
            padding-left: 4.5em;
            color: #fff;
            background-color: #000;
            font-size: 24px;
            line-height: 1.1;
            @include respond-to(md-min) {
                padding: 15px 2em 12px 2.5em
            }
            &Inner {
                display: block;
                margin: 0 0 0.2em;
            }
            &Close,
            &Grp {
                display: inline-block;
                position: absolute;
                top: 0.5em;
                left: 3em;
                width: 2em;
                height: 2em;
                color: #fff;
                background-color: #ccc;
                border: 2px solid #fff;
                border-radius: 2em;
                font-size: 0.8em;
                font-weight: normal;
                font-weight: 300;
                text-align: center;
                line-height: 1.8em;
                @include respond-to(md-min) {
                    top: 12px;
                }
                &1 {
                    background-color:  $color-group1;
                }
                &2a {
                    background-color:  $color-group2a;
                }
                &2b {
                    background-color:  $color-group2b;
                }
                &3 {
                    background-color:  $color-group3;
                }
                &4 {
                    background-color:  $color-group4;
                }
            }
            &Close {
                left: 15px;
                color: #000;
                background-color: #fff;
                transition: color 500ms, background-color 500ms;
                transition-delay: 100ms;
                &:active {
                    color: #fff;
                    background-color: #000;
                    transition: background-color 0s;
                }
            }
            &Translation {
                display: inline-block;
                font-size: 0.8em;
                font-weight: 300;
            }
        }
        &Body {
            padding: 15px;
            overflow: auto;
            &Audio {
                padding: 10px 0;
                text-align: center;
                &Iframe {
                    width: 320px;
                    max-width: 100%;
                    height: 80px;
                    margin: 1em 0 0;
                    border: none;
                }
                &Label {
                    display: inline-block;
                    width: 5.5em;
                    text-align: left;
                    color: #999;
                }
                &Value {
                    display: inline-block;
                    width: 8em;
                    text-align: left;
                }
            }
        }
        &Fokus {
            margin: 0 0 10px;
            padding: 10px;
            background: #ccc;
            &Title {
                margin: 0 0 0.5em;
                color: #999;
                font-size: 12px;
                text-transform: uppercase;
                text-align: right;
                -webkit-text-size-adjust:none;
                @include respond-to(sm-min) {
                    margin: 0 0 15px;
                }
            }
            &Sub {
                margin: 0 0 1em;
                @include respond-to-min(568px) {
                    display: inline-block;
                    vertical-align: top;
                    width: 30%;
                    margin-left: 2%;
                    &:first-child {
                        margin-left: 0;
                    }
                }
                &Title {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &Example {
                    margin: 0;
                    font-size: 1.1em;
                    @include respond-to-min(568px) {
                        font-size: 0.9em;
                    }
                }
            }
            &Label {
                background: #ffc;
                display: inline-block;
                padding: 0 0.2em;
            }
        }
    }
    &Footer {
        padding: 0.5em 2%;
        padding: 0.5em 2vw;
        color: $color-footer-fore;
        background: $color-footer-back;
        font-size: 12px;
        a {
            color: #fff;
        }
    }
}