html {
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  @media (min-width:500px) {
    font-size: 18px;
  }
  @media (min-width:$screen-lg-min) {
    font-size: 24px;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: $font;
  font-size: 16px;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}