.vDetail {
  font-size: 1.2rem;
  @media (min-height: 480px) {
    font-size: 1.4rem;
  }
  @media (min-width: 400px) {
    font-size: 1.5rem;
  }
  @media (orientation: landscape) {
    font-size: 1rem;
  }
  @media (min-width: $screen-md-min) AND (min-height: 800px) {
    font-size: 1.3rem;
  }
  &Fade {
    opacity: 0;
    transition: all 0ms;
    .vStageActive & {
      opacity: 1;
      transition: all 300ms;
    }
  }
  &Title {
    position: relative;
    order: 99;
    min-height: 4rem;
    margin: 0;
    padding: 0.3em 2.5em;
    color: #fff;
    background-color: #666;
    font-size: 1.5rem;
    line-height: 2.1em;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.2);
    @media (min-width:$screen-sm-min) {
      order: 1;
      font-size: 1.4rem;
    }
    .android &,
    .winMob & {
      color: #fff;
      background-color: #000;
      box-shadow: none;
    }
    &Inner {
      display: block;
      margin: 0;
    }
    &Close,
    &Grp {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0.5em;
      width: 2em;
      height: 2em;
      margin-top: -1em;
      color: #fff;
      background-color: #000;
      border: 0.1em solid #fff;
      border-radius: 2em;
      font-size: 0.9em;
      font-weight: normal;
      font-weight: 300;
      text-align: center;
      line-height: 1.85em;
      transition: background-color 300ms;
      &1 {
        background-color:  $color-group1;
      }
      &2a {
        background-color:  $color-group2a;
      }
      &2b {
        background-color:  $color-group2b;
      }
      &3 {
        background-color:  $color-group3;
      }
      &4 {
        background-color:  $color-group4;
      }
    }
    &Close {
      left: auto;
      right: 15px;
      color: #000;
      background-color: #fff;
      transition: color 500ms, background-color 500ms;
      transition-delay: 100ms;
      &:active {
        color: $color-active-fg;
        background-color: $color-active-bg;
        transition: background-color 0s;
      }
      @media (min-width:$screen-sm-min) {
        display: none;
      }
    }
    &Translation {
      display: inline-block;
      font-weight: 300;
    }
  }
  &Body {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: $color-active-fg;
    background-color: $color-active-bg;
    overflow: auto;
    @media (orientation: landscape) {
      flex-direction: row;
    }
    @media (min-width:$screen-sm-min) {
      order: 2;
      flex-direction: column;
    }
  }
  &Fokus {
    flex: 1;
    margin: 5px 0 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:first-child {
      @media (min-height: 490px) {
        border-bottom: 0.2em solid #aaa;
      }
      @media (orientation: landscape) AND (max-width: $screen-xs-max) {
        border-bottom: none;
        border-right: 0.2em solid #aaa;
      }
    }
    &Title {
      margin: 0 0 0.5em;
      color: #999;
      font-size: 0.6em;
      text-transform: uppercase;
      -webkit-text-size-adjust:none;
      @media (min-width: $screen-sm-min) {
        margin: 0 0 15px;
      }
    }
    &Sub {
      margin: 0 0 0.7em;
      &:last-child {
        margin-bottom: 0;
      }
      &Title {
        display: none;
        color: $color-active-fg;;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0.5;
      }
      &Example {
        margin: 0;
        font-size: 1.1em;
        white-space: nowrap;
        @media (min-width: 568px) {
          font-size: 1.4em;
        }
        &Icon {
          margin-right: -0.2em;
          font-size: 0.9em;
          color: #aaa;
        }
        &Subject {
          display: inline-block;
          width: 30%;
          min-width: 3.8em;
          text-align: right;
          white-space: nowrap;
        }
      }
    }
    &Label {
      display: inline-block;
      color: $color-active-hi-fg;
      background: $color-active-hi-bg;
      padding: 0 0.2em;
    }
  }
}